# Ciência dos Dados - Projeto 1

## Nevton Coimbra Motta Rodrigues de Castro

Organização intergovernamental: União Europeia
Hipóteses: Por conta da Zona de livre circulação de pessoas, bens, serviços e capitais os paises que se juntam à União Europeia ficam expostos a um novo mercado como ingressar na União Europeia afeta a taxa porcentual de Importação e Exportação para o gdp de um pais.

# Desemprego

Foi coletado 1 dado do site https://www.gapminder.org/:

índice de desemprego entre 25 e 54 anos

In [100]:
#import
%matplotlib inline
import pandas as pd
import numpy as np
import math as math
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
#leitura de arquivos
imp = pd.read_excel('imports_percent_of_gdp.xlsx').set_index("country")
exp = pd.read_excel('exports_percent_of_gdp.xlsx').set_index("country")
une = pd.read_excel('aged_25_54_unemployment_rate_percent.xlsx').set_index("country")

In [1]:
#lista de membros da UE
euro1 = ["Austria", "Belgium", "Bulgaria", "Croatia", "Republic of Cyprus", "Czech Republic", "Denmark", "Estonia", "Finland", "France", "Germany", "Greece", "Hungary", "Ireland", "Italy", "Latvia", "Lithuania", "Luxembourg", "Malta", "Netherlands", "Poland", "Portugal", "Romania", "Slovakia", "Slovenia", "Spain", "Sweden", "United Kingdom"]
euro_1995 = ["Sweden", "Finland", "Austria"]
euro_2004 = ["Hungary", "Poland"]
euro2 = ["Sweden", "Finland", "Austria", "Hungary", "Poland"]
colunas=[1994, 2003, 2012]
#une.loc[euro_2004,colunas2]
#une.loc[euro_2013,colunas]
#une.loc[euro_1995,colunas1]
exp1 = exp.loc[euro2,1994]
imp1 = imp.loc[euro2,1994]
df = pd.merge(imp1, exp1, left_index=True, right_index=True, suffixes=('_%imports','_%exports'))
df.index.min()
df.index.max()

NameError: name 'exp' is not defined

In [124]:
exp2 = exp.loc[euro2,2012]
imp2 = imp.loc[euro2,2012]
df2 = pd.merge(imp2, exp2, left_index=True, right_index=True, suffixes=('_%imports','_%exports'))
df2

         2012_%imports  2012_%exports
country
Sweden            41.4           46.3
Finland           40.9           39.5
Austria           51.2           54.0
Hungary           79.7           86.4
Poland            44.9           44.4

          1995   2004  2007  2015
country
Sweden    7.67   5.30  4.41  5.79
Finland  14.00   7.44  5.33  7.71
Austria   4.12   4.83  4.24  5.18
Hungary   8.90   5.30  6.85  6.03
Poland   11.70  16.80  8.35  6.64

In [ ]:
for key,val in penis.items():
    if val in euro:
        num_inv.append(key)
penis.values()
dados.plot.scatter(x="RENDA", y = "IDADE")